/* --- GRIGLIA DI FILM / SERIE --- */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
}

.card {
    background: #181818;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px yellow;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}

.card h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 17.6px;
    /* 1.1rem */
    margin: 13px;
}

.card p {
    color: #aaa;
    font-size: 14.4px;
    /* 0.9rem */
    margin: 0 13px 16px;
}

h3 {
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 20px;
}