* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #0f0f0f;
    color: #fff;
    scroll-behavior: smooth;
}


/* --- SEZIONE CONTATTI --- */
.contact {
    background: #111;
    text-align: center;
    padding: 48px 16px;
}

.contact p {
    margin: 8px 0;
    color: #ccc;
}

footer {
    background: #000;
    text-align: center;
    padding: 16px;
    font-size: 14.4px;
    /* 0.9rem */
    color: #888;
}